/* .App { */
  /* text-align: center; */
/* } */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foodInput{
  padding: 8px;
  border-radius: 4px;
  border: 1px #282c34 solid;
  margin: 4px
  ;
}
.foodBtn{
  background-color: rgb(255, 221, 0);
  padding: 10px;
  border-radius: 4px;
  border: none;
}
.foodCards{
  padding: 16px;
  margin: 16px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 10px rgba(172, 172, 172, 0.162);
  border-radius: 16px;
  border: 1px solid #e4e7ed;
  min-width: 200px;
}
.foodCards-header{
  /* color: black; */
  text-align: left;
  margin: 0 0 8px
  ;
}
.foodCards-description{
  color: #7a7c80;
}
.container {
  width: 80%;
  margin: auto;
}
.navButtons{
  padding: 12px;
  border: none;
  background: none;
  font-weight: 700;
  color: rgb(255, 204, 0);
  font-size: 18px;
}
.navButtons:hover{
  color: rgb(234, 187, 0);
}